*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color:rgb(124, 124, 124)
}
header {
    width: 100%;
    height: 96vh;
}

.contato {
    font-size: 15px;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
}
.contato ul{
    list-style: none;
    display: flex;
    padding: 1.1vw;
    flex-wrap: wrap;
}
.contato li {
    text-decoration: none;
    padding: 0px 20px;
    cursor: pointer;
}
.contato li:hover {
    text-decoration: underline;
}

                /*menu*/

section.menu {
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background: url(./imagens/cta-bg.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 40px 0;
}
.menu li {
    padding: 0 30px;
}
.menu li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.menu img {
    margin: 20px;
}
.secao-mobile {
    display: none;
}

        /*About us */


.discover {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75vh;
 }

 .about {
    width: 45%;
    margin-left: 150px;
 }
 .about h1 {
    width: 220px;
    color: rgb(124, 53, 233);
    font-size: 19px;
    margin-top: 180px;
    border-bottom: 2px solid rgb(153, 153, 153);
    padding-bottom: 35px;
 }
 .about h2 {
    margin-top: 35px;
    font-size: 50px;
    margin-bottom: 30px;
    
 }
.about h2 strong {
    color: rgb(124, 53, 233);
    
}
.about p {
    width: 80%;
    color: rgb(180, 180, 180);
    line-height: 30px;
}

.button {
    margin-top: 50px;
    width: 100%;
    display:block;
}
.button .more {
    width: 60%;
    height: 46px;
    border-radius: 20px;
    background-color:rgb(124, 53, 233);
    color: white;
    text-align: center;
    padding: 15px;
}
.button p {
   display: none;
}
.button .faqs {
    width: 60%;
    height: 46px;
    border-radius: 20px;
    background-color: rgb(205, 97, 254);
    color: white;
    text-align: center;
    padding: 15px;
}


 .about-us {
    width: 40%;

 }
 .about-us img{
    width: 95%;
    margin-top: 150px;
 }


            /*Main*/


.video {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background: url(./imagens/video-bg.jpg) no-repeat;
    background-size: cover;
    width: 100%;
}
.video1 {
    margin-left: 10vw;
}
.video1 img {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 38vw;
    border-radius: 20px;
}


.estatisticas {
    color: white;
    width: 40vw;
    padding-right: 100px;
}
.estatisticas h1 {
    padding-top: 100px;
    font-size: 32px;
    border-bottom: 2px  solid gray  ;
    padding-bottom: 20px;
}
.estatisticas p {
    padding-top: 25px;
    line-height: 30px;
    color: rgb(218, 218, 218);
    
}

.seo, .social, .digital{

    padding-top: 50px;
    font-size: 12px;
}
.seo h2, .social h2, .digital h2{
 display: flex;
}


.container {
    height: 15px;
    background-color:blueviolet;
    position: relative;
    border-radius: 20px;
}

.container .progress-bar{
   position: absolute;
   height: 100%;
   background-color: rgb(80, 0, 155);
   animation: progress-animation 5s infinite;
   border-radius: 20px;
}

.container .progress-bar1{
    position: absolute;
    height: 100%;
    background-color: rgb(80, 0, 155);
    animation: progress-animation1 5s infinite;
    border-radius: 20px;
 }

 .container .progress-bar2{
    position: absolute;
    height: 100%;
    background-color: rgb(80, 0, 155);
    animation: progress-animation2 5s infinite;
    border-radius: 20px;
 }

@keyframes progress-animation{
    0% { width: 0%; } 
    80% { width: 90%}
}
@keyframes progress-animation1{
    0% { width: 0%; } 
    80% { width: 80%}
}
@keyframes progress-animation2{
    0% { width: 0%; } 
    80% { width: 95%}
}

                /*passos*/

.passos {
    width: 100%;
    height: 56vh;
    background: url(./imagens/banner-left.png) no-repeat;
    background-position: left center;
}
.success {
    text-align: center;
    padding-top: 110px;
}
.success h1 {
    font-size: 35px;

}
.success p {
    padding-top: 50px;
    color: rgb(170, 170, 170);
}
.um {
    color:blueviolet ;
}
.dois {
    color: rgb(205, 97, 254);  
}
.introdution1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: 60px 10%;
    height: 10vh;
    border: 2px  solid rgb(167, 167, 167);
    border-radius: 20px;
}
.introdution1 h2 {
    cursor: pointer;
}
.introdution1 h2:hover {
    color: blueviolet;
}
.introdution1 p{
    font-size: 35px;
    color: rgb(167, 167, 167);
}

.introdution {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.best {
    width: 45%;
}
.imagem2 {
    width: 40%;
}
.introdution h2 {
    font-size: 30px;
    padding-bottom: 50px;
}
.introdution p {
    color:rgb(167, 167, 167) ;
    padding-bottom: 50px;
    line-height: 30px;
}
.butao button {
    font-size: 16px;
    background-color: rgb(80, 0, 155);
    color: white;
    width: 140px;
    height: 40px;
    border-radius: 40px;
    margin:  -10px 20px 30px 20px;
    border: 0px;
}
.ready {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35vh;
    background: url(./imagens/infos-bg.jpg) no-repeat;
    background-size: cover;
}
.ready h1 {
    font-size: 34px;
    color: white;
    padding-top: 100px;
    padding-left: 5vw;
}
.contact {
    width: 160px;
    height: 50px;
    border-radius: 40px;
    background-color: white;
    color: blueviolet;
    text-align: center;
    padding-top: 16px;
    margin-top: 100px;
}

footer {
    text-align: center;
    padding: 20px;
}